{{ "# Gebäude und Kunstwerke" }}
{% macro render(node, depth=1) -%}
{{ "#" + "#" * depth }} {{ node['label'] }} 

\nopagebreak
\penalty 100000

{% if node['photos'] %}
  {% for photo in node['photos'] %}
![{{ node["label"] }}{{ "\index{"}}{{node["label"]}}{{"}"}}. Foto: {{ photo["creator"] }}]({{ photo["url"] }}){group="photos" .hover-zoom}

  {% endfor %}
{% endif %}

\nopagebreak
\penalty 100000

{% if node["id"] %}
Wikibase: [{{ node["label"] }}]({{ node["id"] }}){% if node["type"] %} ({{ node["type"] }}){% endif %}
{% endif %}

\nopagebreak
\penalty 100000

---


{% if node['children'] %}
  {% for child in node['children'] %}
{{ render(child, depth + 1) }}
  {% endfor %}
{% endif %}
{%- endmacro %}

{{ render(rs["tree"]) }}