{{ "# Ausstellung" }}
{% for row in rs["bindings"] %}

\nopagebreak
\penalty 100000

![{{ row["itemLabel"] }}{{"\index{"}}{{row["itemLabel"]}}{{"}"}}. Foto: {{ row["creator"] }}]({{ row["photo"] }}){group="photos"}

\newpage

{% endfor %}
