@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Noto Serif';
    src: url('../fonts/NotoSerif-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Figtree';
    src: url('../fonts/Figtree-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('../fonts/Figtree-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Figtree';
    src: url('../fonts/Figtree-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Figtree';
    src: url('../fonts/Figtree-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

a {
    color: #a14149 ;
}


img {
    max-height: 75% ;
    width: auto ;
}

body, p, div, section {
    font-family: 'NotoSerif', 'Noto Serif', serif !important;
}

h1, h2, h3, h4, h5, h6, .titlepage { 
    font-family: "Figtree", sans-serif !important;
}


