/*-- scss:rules --*/


div.sidebar-item-container .active, div.sidebar-item-container .show > .nav-link, div.sidebar-item-container .sidebar-link > code {
	color: $brand-dark-red;
}

div.sidebar-item-container:hover, div.sidebar-item-container:focus {
	color: $brand-dark-red;
}

#quarto-search {
  outline: 1px solid $brand-dark-red;
  /*box-shadow: 1px 1px 1px 1px $brand-dark-red;*/
  border-radius: 3px;
}

